<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>New Article</title>
</head>
<body>

<form id="new-form" method="POST" action="/article">
  <label for="title">
    <span>Title</span>
    <input id="title" type="text" name="title"/>
  </label>
  <br>
  <label for="description">
    <span>Description</span>
    <input id="description" type="text" name="description"/>
  </label>
  <br>
  <input type="submit" value="Submit"/>
</form>

</body>
</html>