<div class="container flex">
    {{if .Article}}
    <div class="content">
        <p>{{ .Article.Title }}</p>
        <p>{{ .Article.Description }}</p>
        {{range .Photos }}
        <img src="data:image/jpeg;base64, {{ .StrData }}" width="400" height="300" alt="{{ .Filename }}">
        {{ end }}
    </div>

    {{ if eq .Role "Admin" }}
    <div class="actions">
        <a href="/article/{{ .Article.ID }}/edit" class="btn-secondary">Edit</a>
<!--        <button id="delete-button" data-articleid="{{ .Article.ID }}" class="btn-danger">Delete</button>-->
    </div>
    {{ end }}
    {{ end }}
</div>